body {
  background-color: #344a72;
  font-family: 'Roboto', sans-serif;
}

.signup-box,
.login-box {
  width: 360px;
  height: 620px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
}

h1 {
  text-align: right;
  padding-top: 15px;
}

h4 {
  text-align: left;
}

form {
  width: 300px;
  margin-left: 20px;
}

form div {
  margin-bottom: 20px; /* Added space between input groups */
}

form label {
  display: block; /* Changed to block to avoid flex issues */
  margin-top: 10px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: white;
  font-size: 28px;
}

p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}

.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: 10px;
}

.para-2 a {
  color: #49c1a2;
}
